body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align:center;
}

nav > a {
  background: #DBDAD9;
}

#featured-property {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}